.repos{
    padding: 30px;
    min-height: 70vh;

    display:flex;
    flex-flow: column;
    align-items: center;
}
.unique-repo{
    width: 100%;
    height: 35vh;
    margin: 10px;
    border: 1px solid rebeccapurple;
    background-color: #f8f9f8;

    color: rebeccapurple;
    border-radius: 5px;
}
.container{
    margin: 15px;
}

.container p{
    padding: 10px;
}

.title{
    font-size: 25px;
}

.url a{
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
}

.techs ul li{
    list-style: none;
    display: inline-block;
    font-weight: bold;
    padding: 0 5px;
}
.techs ul{
    padding: 5px 0;
}

.heart{
    font-size: 18px;
    padding: 0 5px;
    cursor: pointer;
}
.trash{
    cursor: pointer;
    font-size: 18px;
    padding: 0 15px;
}